[Desktop Entry]
Name=Bubbles
Comment=Native iMessage client
Type=Application
Exec=bubbles
Icon=io.github.chrispouliot.Bubbles
Terminal=false
Categories=Network;InstantMessaging;GTK;
StartupNotify=true
StartupWMClass=io.github.chrispouliot.Bubbles
